<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<ul class="social-media-list">
  <p><a href="https://github.com/urosolia"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a>
  &nbsp | &nbsp
  <a href="https://twitter.com/ugorosolia"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a>
  &nbsp | &nbsp
  <i class="ai ai-google-scholar ai"></i> <a href="https://scholar.google.com/citations?user=s4mZnz8AAAAJ&hl=en&oi=ao">Google Scholar</a>
  &nbsp | &nbsp
  <a href="https://www.linkedin.com/in/ugo-rosolia"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">{{ site.linkedin_username| escape }}</span></a>
  &nbsp | &nbsp
  <i class="ai envelope ai"></i> <a href="mailto:urosolia@caltech.edu">Email</a>
</p>
</ul>
